html
	head
	body
		h1 Your Pension Result
			each thing in pension
				p Welcome #{thing.name} to our advanced pension planner!
				p You are starting with #{thing.startcapital} and add a monthly amount of #{thing.monthly}.
				p This amount increases yearly with #{thing.increase}%
				p When you retire at age #{thing.pensionage} you will have the following:
				li In a pessimistic scenario: #{thing.pessimistic}
				li In an average scenario: #{thing.average}
				li In an optimistic scenario: #{thing.optimistic}